nav {
  padding: 5px 100px;
}

.row h2 {
  text-align: center;
}

.new {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.rowNew {
  padding: 80px 0px;
}

.newImg {
  height: 200px;
  width: 200px;
}

footer .row {
  display: flex;
  justify-content: center;
}

.certifs {
  padding: 80px 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}